html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Flexo-Regular", arial, sans-serif;
  background-color: #fff;
  color: #212121;
}
p {
  color: #919191;
  font-family: "Roboto", arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 125%;
  margin: 0.5em 0;
}
h3,
h4,
h5,
h6 {
  font-size: 125%;
  line-height: 125%;
  text-transform: none;
  margin: 0.5em 0;
  font-family: "Flexo-Medium", arial, sans-serif;
}
.container {
  margin: 15px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
ul {
  list-style: none;
}
.results-count {
  font-size: 14px;
  margin-bottom: 20px;
  color: #313131;
}
.pokedex-results .results {
  float: left;
  width: 100%;
  margin: 0;
  margin-left: -8px;
  margin-right: -8px;
  padding: 0;
}
.pokedex-results .results li {
  display: block;
  float: left;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
  width: calc(50% - 16px);
}
@media screen and (min-width: 768px) {
  .pokedex-results .results li {
    width: calc(33% - 16px);
  }
}
@media screen and (min-width: 992px) {
  .pokedex-results .results li {
    width: calc(25% - 16px);
  }
}
@media screen and (min-width: 1200px) {
  .pokedex-results .results li {
    width: calc(20% - 16px);
  }
}
.pokedex-results .results li a {
  background: #F2F2F2;
  display: block;
  border-radius: 5px;
  text-align: center;
}
.pokedex-results .results li a img {
  max-width: 100%;
  margin: auto;
}
.pokedex-results .results li .pokemon-info {
  clear: both;
}
.pokedex-results .results li .pokemon-info .id {
  color: #919191;
  font-size: 80%;
  padding-top: 2px;
}
.pokedex-results .results li .pokemon-info h5 {
  color: #313131;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.pokedex-results .results li .pokemon-info .abilities span {
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  background-color: #F2F2F2;
  color: #212121;
}
